# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/src/main/resources/assets/bluetest/animations/dragon.animation.json
/src/main/resources/assets/bluetest/geo/dragon.geo.json
/src/main/resources/assets/bluetest/variant/entity/dragon.json
/src/main/resources/assets/bluetest/textures/entity/dragon/purple.png
/src/main/resources/assets/bluetest/textures/entity/dragon/red.png
/src/main/resources/assets/bluetest/textures/entity/dragon/blue.png
