/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden;
}

header {
    background-color: #171717;
    border-bottom: 2px solid #3b3b3b;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

h1, h2 {
    color: rgb(230, 230, 230);
}

/* Links */
a {
    text-decoration: none;
}

a::before {
    font-weight: bold;
    color: #1f5fe1;
}

a:hover {
    text-decoration: underline;
}

a::after {
    font-weight: bold;
    color: #551A8B;
}

/* Navigation */
nav {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav a {
    padding: 10px;
}

nav a:hover {
    background-color: #3b3b3b;
    border-radius: 5px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Dropdown Button */
.dropdown-button {
    background-color: #2b2b2b;
    color: whitesmoke;
    padding: 10px 20px;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-size: 16px;
}

.dropdown-button:hover {
    background-color: #3b3b3b;
    border-color: #5a5a5a; 
}

.dropdown-button:focus {
    outline: none; 
    background-color: #4a4a4a;
    border-color: #6a6a6a;
}

.dropdown-button:active {
    background-color: #1f1f1f;
    border-color: #7a7a7a;
}


/* Dropdown Bar */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #3b3b3b;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Layout */
.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.left-panel {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 2px solid #ccc;
    overflow: hidden;
}

.top-panel, .bottom-panel {
    overflow: auto;
    padding: 10px;
}

.top-panel {
    flex-grow: 1;
    border-bottom: 2px solid #ccc;
}

.bottom-panel {
    flex-grow: 1;
}

.main-content {
    flex: 1;
    padding-left: 20px;
    padding-top: 20px;
    overflow-y: auto;
}

.main-content-a {
    margin-right: 10px;
}

.section {
    margin-bottom: 40px;
}
