name: CI for Minecraft Mod

on:
  pull_request:
    branches:
      - 1.20.4
  push:
    branches:
      - 1.20.4

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for Gradle wrappers
        run: |
          chmod +x NeoForge/gradlew
          chmod +x Forge/gradlew

      - name: Build for NeoForge
        run: NeoForge/gradlew build

      - name: Build for Forge
        run: Forge/gradlew build

      - name: runClient for NeoForge
        run: NeoForge/gradlew runClient
        continue-on-error: true

      - name: runClient for Forge
        run: Forge/gradlew runClient
        continue-on-error: true

      - name: Run Additional Tasks for NeoForge
        run: NeoForge/gradlew jar

      - name: Run Additional Tasks for Forge
        run: Forge/gradlew jar

